:root {
  --red: #d01110;
  --light-red: #e82f2f;
  --celadon: #a8bbb0;
  --light-celadon: #c6d2cb;
  --lighter-celadon: #d4ddd8;
  --light-grey: #919191;
  --background: #ebe8e0;
  --blacktext: #0a0a00;
  --whitetext: #ffffff;
  --purple-blue: #7360ff;
  --contentbackground: #d7d6d6;
  /* #f3f3f3 grey color */

  --white-color: #f2f2f2;
  --red-color: #ff0000;
  --red-color-hover: #e70707d2;
  --black-color: #222222;
  --background: #ebe8e0;
  /* Colors */
  --black-color-normal: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-ligher: hsl(220, 20%, 18%);
  --white-color-normal: hsl(0, 0%, 100%);
  --white-color-light: hsl(0, 0%, 90%);
  --body-color: hsl(220, 100%, 97%);

  /* Font and typography */
  --body-font: 'Roboto', sans-serif;
  --font-regular: 400;
  --font-semi-bold: 600;
  --normal-font-size: 0.938rem;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  background-color: var(--body-color);
  font-family: "Roboto", sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

/* KeyFrame for Animation */
@keyframes movingfromright{
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes movingfromleft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes movingfromtop{
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes movingfromdown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* The End of KeyFrame for animation */

/* Navigation Bar */
.primary-navbar-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white-color-normal);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: 100;
}
.primary-navbar-header .navbar{
  height: 5.5em;
}
.primary-navbar-header .container{
  margin-inline: 12%;
}
.primary-navbar-header .navbar > .navbar-data{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* display: inline-flex */
/* .primary-navbar-header .navbar > .navbar-data .navbar-logo{
    font-size: 2.5em;
    font-weight: var(--font-semi-bold);
    color: var(--red-color);
    animation: movingfromleft 500ms ease-in-out;
} */
.primary-navbar-header .navbar > .navbar-data .navbar-logo > img{
  width: 110px;
  height: 5.5em;
  animation: movingfromleft 500ms ease-in-out;
}
.primary-navbar-header .navbar > .navbar-data .navbar-toggle{
  position: relative;
  width: 32px;
  height: 32px;
  animation: movingfromright 500ms ease-in-out;
}
.primary-navbar-header .navbar > .navbar-data .navbar-toggle .navbar-menu-btn-open,
.primary-navbar-header .navbar > .navbar-data .navbar-toggle .navbar-menu-btn-close{
  color: var(--black-color-normal);
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 2.5rem;
  cursor: pointer;
  transition: opacity 200ms, transform 400ms;
}
.primary-navbar-header .navbar > .navbar-data .navbar-toggle .navbar-menu-btn-close{
  opacity: 0;
}
.primary-navbar-header .navbar > .navbar-menu{
  z-index: 100;
}

/* Navbar Menu */
@media screen and (max-width: 768px) { 
  .primary-navbar-header .navbar > .navbar-menu{
    position: absolute;
    left: 0;
    top: 5.5em;
    width: 100%;
    transform: translateY(-55px);
    background-color: red;
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 500ms ease-in-out, opacity 500ms ease-in-out, transform 650ms ease-in-out;
  }
  .primary-navbar-header .navbar > .navbar-menu.active{
    /* width: 100%; */
    transform: translateY(0px);
  }
  .primary-navbar-header .navbar > .navbar-menu::-webkit-scrollbar{
    width: 0;
  }
  .primary-navbar-header .navbar > .navbar-menu .navbar-list{
    background-color: var(--white-color-normal);
  }
  .primary-navbar-header .navbar > .navbar-menu .navbar-list .navbar-link{
    margin-inline: 1.25em;
  }
}
.primary-navbar-header .navbar > .navbar-menu .navbar-list .navbar-link{
  color: var(--black-color-normal);
  background-color: var(--white-color-normal);
  font-size: 1.75em;
  font-weight: var(--font-semi-bold);
  padding: 1.25em 0em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 650ms ease-in-out;
}

/* Current Page and High Light Line */
.primary-navbar-header .navbar > .navbar-menu .navbar-list > li{
    position: relative;
    margin: 0em 1.5em;
}
.primary-navbar-header .navbar > .navbar-menu .navbar-list .navbar-link.currentPage{
    color: var(--red-color);
}
.primary-navbar-header .navbar > .navbar-menu .navbar-list .navbar-link.currentPage::after {
    background-color: var(--red-color);
    width: 100%;
}
/* The End of Current Page and High Light Line */

/* Show Menu & Show Icon to close and open the navbar */
.primary-navbar-header .navbar > .navbar-menu.show-menu{
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
}
.primary-navbar-header .navbar > .navbar-data .navbar-toggle.show-icon .navbar-menu-btn-open{
    opacity: 0;
    transform: rotate(90deg);
}
.primary-navbar-header .navbar > .navbar-data .navbar-toggle.show-icon .navbar-menu-btn-close{
    opacity: 1;
    transform: rotate(90deg);
}
/* The End of Show Menu & Show Icon to close and open the navbar */

/* Menu-Overlay */
.primary-navbar-header .navbar > .menu-overlay{
	position: fixed;
	z-index: 99;
	background-color: transparent;
	left:0;
	bottom:0;
	height: 80%;
	width: 100%;
	visibility: hidden;
  opacity: 0;
  transition: visibility 200ms ease-in-out, opacity 1000ms ease-in-out;
}
.primary-navbar-header .navbar > .menu-overlay.active{
  visibility: visible;
  opacity: 1;
}
/* The End of Menu-Overlay */

/* Dropdown */
.primary-navbar-header .navbar > .navbar-menu .navbar-list .dropdown{
    cursor: pointer;
}
.primary-navbar-header .navbar > .navbar-menu .navbar-list .dropdown .dropdown-arrow{
  font-size: 0.75em;
  /* pointer-events: none; */
  transition: transform 650ms ease-in-out;
}
.primary-navbar-header .navbar > .navbar-menu .navbar-list .dropdown.active .dropdown-arrow{
  transform: rotate(180deg);
}
.primary-navbar-header .navbar > .navbar-menu .navbar-list .dropdown > .dropdown-menu{
  max-height: 0;
  overflow: hidden;
  transition: max-height 550ms ease-in-out;
}
.primary-navbar-header .navbar > .navbar-menu .navbar-list .dropdown.active > .dropdown-menu{
  max-height: 1000px;
  transition: max-height 550ms ease-in-out;
}
.primary-navbar-header .navbar > .navbar-menu .navbar-list .dropdown > .dropdown-menu .dropdown-menu-item{
  color: var(--black-color-normal);
  background-color: var(--white-color-normal);
  padding: 1.25em 1.25em 1.25em 2.25em;
  display: flex;
  align-items: center;
  column-gap: 0.75em;
  font-size: 1.35em;
  font-weight: var(--font-semi-bold);
  transition: background-color 300ms;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}   
/* The End of dropdown */

/* The End of Navbar Menu */

/* Responsive for small devices */
@media screen and (min-width: 768px) {
  .primary-navbar-header .navbar{
    height: 6.5em;
    display: flex;
    justify-content: space-between;
  }
  .primary-navbar-header .navbar > .navbar-data .navbar-logo > img{
    width: 130px;
    height: 6.5em;
    animation: movingfromleft 500ms ease-in-out;
  }
  .primary-navbar-header .navbar > .navbar-data .navbar-toggle{
    display: none;
  }
  .primary-navbar-header .navbar > .navbar-menu .navbar-list{
    height: 100%;
    display: flex;
    animation: movingfromright 500ms ease-in-out;
    /* column-gap: 3em; */
  }
  .primary-navbar-header .navbar > .navbar-menu .navbar-list .navbar-link{
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.5em;
  }
  /* Current Page and High Light Line */
  .primary-navbar-header .navbar > .navbar-menu .navbar-list .navbar-link::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 1.05em;
    background-color: var(--black-color);
    border-radius: 10px;
    width: 0%;
    height: 3px;
    transition-property: width, background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }
  .primary-navbar-header .navbar > .navbar-menu .navbar-list .navbar-link:hover::after {
    width: 100%;
  }
  /* The End of Current Page and High Light Line */

  /* Drop Down for large screen size */
  .primary-navbar-header .navbar > .navbar-menu .navbar-list .dropdown{
    position: relative;
  }
  .primary-navbar-header .navbar > .navbar-menu .navbar-list .dropdown:hover .dropdown-arrow{
    transform: rotate(180deg);
  }
  .primary-navbar-header .navbar > .navbar-menu .navbar-list .dropdown > .dropdown-menu{
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 9em;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms, top 300ms;
  }
  .primary-navbar-header .navbar > .navbar-menu .navbar-list .dropdown:hover > .dropdown-menu{
    opacity: 1;
    top: 6.5em;
    pointer-events: initial;
    transition: top 300ms;
  }
  .primary-navbar-header .navbar > .navbar-menu .navbar-list .dropdown > .dropdown-menu .dropdown-menu-item{
    padding-inline: 1em 1.5em;
  }
  .primary-navbar-header .navbar > .navbar-menu .navbar-list .dropdown > .dropdown-menu .dropdown-menu-item:hover{
    background-color: var(--white-color-light);
  }
    /* The End of Drop Down for Large Screen Size */
}
/* The End of Responsive for small devices */

/* The End of Navigation Bar */

/* Center */

.center {
  margin: 0em auto;
  padding-top: 8em;
  width: 40%;
  /* border: 1px solid var(--light-red); */
}

/* ------------------------------------------------------------------- */
/* The Contact Form */

/* 
container -> contact-container
form -> contact-form 
contact-info -> contact-form-info 
contact-form -> contact-form-letter
title -> Contact-form-title
input-container -> contact-form-input
textarea -> contact-form-text-area
*/

input,
textarea{
  font-family: "Roboto", sans-serif;
}

.contact-container{
  position: relative;
  width: 100%;
  /* min-height: 100vh; */
  /* padding: 2rem; */
  /* background-color: var(--lighter-celadon); */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form{
  width: 100%;
  /* max-width: 820px; */
  /* height: 600px; */
  background-color: var(--whitetext);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow: hidden;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
}
/* The Contact Form Data and Information (the right side) */
.contact-form-info{
  background-color: var(--whitetext);
  /* border: 1px solid blue; */
  text-align: center;
}

.contact-form-info-container{
  padding: 3em;
  background-color: var(--whitetext);
}

/* Title For the contact form letter (the left side) */
.contact-form-info-container .contact-form-title{
  color: var(--blacktext);
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.contact-form-info .contact-form-info-container .contact-form-paragraph{
  font-size: 2em;
  margin-bottom: 1em;
}

.contact-form-info .contact-form-info-container .contact-form-info-detail .contact-form-infomation{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0em;
  /* margin: 1em 0em; */
  /* border: 1px solid black; */
}

.contact-form-info .contact-form-info-container .contact-form-info-detail .contact-form-infomation i{
  font-size: 2.5rem;
}

.contact-form-info .contact-form-info-container .contact-form-info-detail .contact-form-infomation p{
  font-size: 1.8em;
  margin-left: 0.5em;
}

.contact-form-info .contact-form-info-container .contact-form-social-media{
  margin-top: 1em;
}

.contact-form-info .contact-form-info-container .contact-form-social-media .contact-form-social-title{
  color: var(--blacktext);
  font-weight: 500;
  font-size: 2.2rem;
}

.contact-form-info .contact-form-info-container .contact-form-social-media .contact-form-social-icon{
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.contact-form-info .contact-form-info-container .contact-form-social-media .contact-form-social-icon a{
  margin-right: 1.5em;
  /* border: 1px solid var(--blacktext); */
}

.contact-form-info .contact-form-info-container .contact-form-social-media .contact-form-social-icon a i{
  font-size: 2.5rem;
  width: 40px;
  height: 40px;
  color: var(--whitetext);
  background: var(--blacktext);
  line-height: 40px;
  text-align: center;
  border: 1px solid var(--whitetext);
  border-radius: 5px;
  transition-property: transform, color, background;
  transition-duration: 300ms;
}

.contact-form-info .contact-form-info-container .contact-form-social-media .contact-form-social-icon a i:hover{
  transform: scale(1.15);
  /* color: var(--whitetext);
  background-color: var(--blacktext);
  border: 1px solid var(--whitetext); */
}

/* The end of the Contact Form Data and Information (the right side) */

/* The Contact Form Letter, Email, and Info (the left side) */

.contact-form-letter {
  background-color: var(--blacktext);
  position: relative;
}

.contact-form-letter:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: var(--blacktext);
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

.contact-form-letter form {
  padding: 3em;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.contact-form-letter .contact-form-title {
  color: var(--whitetext);
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.contact-form-letter form .input-container {
  position: relative;
  margin: 2.5em 0;
}

.contact-form-letter form .input-container .input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6em 1.2em;
  color: var(--whitetext);
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition-duration: 300ms;
}

.contact-form-letter form .input-container textarea.input {
  padding: 0.8em 1.2em;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.contact-form-letter form .input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: var(--whitetext);
  font-size: 1.5rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.contact-form-letter form .input-container.textarea label {
  top: 1em;
  transform: translateY(0);
}

.contact-form-letter form .input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 1.5rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.contact-form-letter form .input-container span:before,
.contact-form-letter form .input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition-duration: 300ms;
  height: 5px;
  background-color: var(--blacktext);
  top: 50%;
  transform: translateY(-50%);
}

.contact-form-letter form .input-container span:before {
  left: 50%;
}

.contact-form-letter form .input-container span:after {
  right: 50%;
}

.contact-form-letter form .input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 1.5rem;
}

.contact-form-letter form .input-container.focus span:before,
.contact-form-letter form .input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-form-letter form .contact-form-btn {
  color: var(--blacktext);
  background-color: #fff;
  border: 2px solid #fafafa;
  border-radius: 25px;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.7em 2.3em;
  outline: none;
  cursor: pointer;
  transition-duration: 300ms;
}

.contact-form-letter form .contact-form-btn:hover {  
  color: #fff;
  background-color: transparent;
}
/* The End of Contact Form Letter, Email, and Info (the left side) */

/* The End of Contat Form */

/* The Footer */
footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background-color: var(--whitetext);
}

.footer-container{
  display: flex;
}

.footer-container .footer-box{
  flex-basis: 50%;
  padding: 0.5em 2em;
}

.footer-container .footer-box h2{
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  /* border: 1px solid black; */
}

.footer-container .footer-box .footer-content{
  position: relative;
  margin: 1em 0em 0em 0em;
}

.footer-container .footer-box .footer-content::before{
  position: absolute;
  content: '';
  top: -10px;
  width: 100%;
  height: 2px;
  background-color: var(--light-celadon);
}

.footer-container .footer-box .footer-content p{
  font-size: 2rem;
  font-weight: 400;
  margin: 0em 0em 0em 0em;
  text-align: justify;
}

/* footer left */
.footer-container .footer-left .footer-content .footer-social{
  display: flex;
  flex-direction: column;
}

.footer-container .footer-left .footer-content .footer-social  .footer-social-link{
  display: flex;  
  align-items: center;
  margin: 1em;
}

.footer-container .footer-left .footer-content .footer-social .footer-social-link a{
  color: var(--blacktext);
  text-decoration: none;
}

.footer-container .footer-left .footer-content .footer-social .footer-social-link a i{
  font-size: 3.3rem;
  width: 45px;
  height: 45px;
  color: var(--blacktext);
  background: var(--whitetext);
  line-height: 45px;
  text-align: center;
  border: 1px solid var(--blacktext);
  border-radius: 5px;
  transition-property: color, background;
  transition-duration: 300ms;
}

.footer-container .footer-left .footer-content .footer-social .footer-social-link a i:hover{
  color: var(--whitetext);
  background-color: var(--blacktext);
}

.footer-container .footer-left .footer-content .footer-social .footer-social-link a span{
  font-size: 1.8rem;
  padding-left: 0.5em;
}
/* The End of footer left */

/* footer center */
.footer-container .footer-center .footer-content td{
  padding: 0.5em 0.5em;
}

.footer-container .footer-center .footer-content .footer-place i,
.footer-container .footer-center .footer-content .footer-phone i,
.footer-container .footer-center .footer-content .footer-email i{
  font-size: 2.5rem;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: var(--blacktext);
  background: var(--whitetext);
  border: 2px solid var(--blacktext);
  border-radius: 50%;
  cursor: pointer;
  transition-property: color, background;
  transition-duration: 300ms;
}

.footer-container .footer-center .footer-content .footer-place i:hover,
.footer-container .footer-center .footer-content .footer-phone i:hover,
.footer-container .footer-center .footer-content .footer-email i:hover{
  color: var(--whitetext);
  background-color: var(--blacktext);
  border: 1px solid var(--whitetext);
}

.footer-container .footer-center .footer-content .footer-text{
  font-size: 1.8rem;
  font-weight: 400;
}

.footer-container .footer-center .footer-content .footer-text-mm{
  font-size: 1.6rem;
  font-weight: 400;
}
/* The End of footer center */

/* footer-right */
.footer-container .footer-right .footer-content,
.footer-container .footer-right .footer-content-1{
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
}

.footer-container .footer-right .footer-content .footer-link,
.footer-container .footer-right .footer-content-1 .footer-link{
  display: block;
  margin: 1.5em 1em 2.5em 1em;
}

.footer-container .footer-right .footer-content .footer-link a,
.footer-container .footer-right .footer-content-1 .footer-link a{
  padding: 1.8em 1.8em 1.2em 1em;
  text-decoration: none;
  border: 2px solid var(--blacktext);
  border-radius: 50px;
}

.footer-container .footer-right .footer-content .footer-link i,
.footer-container .footer-right .footer-content-1 .footer-link i{
  font-size: 2.2em;
  padding: 0em 0.25em 0em 0.25em;
  color: var(--blacktext);
}

.footer-container .footer-right .footer-content .footer-link span,
.footer-container .footer-right .footer-content-1 .footer-link span{
  font-size: 1.85rem;
  font-weight: 400;
  color: var(--blacktext);
}
/* The End of footer right */

/* footer content - 1 */
/* The End of Footer Content - 1 */

footer .copy-right center{
  font-size: 1.25rem;
  padding: 1em 0em;
}

footer .copy-right center span{
  color: var(--blacktext);
}
/* The End of Footer */

/* The Media Query for footer */
@media (max-width: 900px){
  footer{
    position: relative;
  }
  .footer-container{
    flex-wrap: wrap;
    flex-direction: column;
  }
}
/* @media (max-width: 1300px) */
@media (900px < width < 1300px){
  .footer-container .footer-right .footer-content{
    flex-direction: column;
  }
  .footer-container .footer-right .footer-content-1{
    flex-direction: column;
  }
}
/* The End of The Media Query for footer */

/* Tablet Responsive (need to fix)*/

@media (max-width: 1024px) {
  .primary-navbar-header .container{
    margin-inline: 8.5%;
  }
  .center {
    margin: auto;
    width: 80%;
  }
  .contact-form{
    grid-template-columns: 1fr;
  }

  .contact-form-letter:before {
    top: -13px;
    left: initial;
    right: 70px;
  }
}

@media screen and (max-width: 768px) {
  .primary-navbar-header .container{
    margin-inline: 2em;
  }
  .center {
    margin: auto;
    width: 85%;
  }
}

/* Mobile Responsive */
@media (max-width: 440px) {
  .center {
    margin: auto;
    width: 90%;
  }
}
