:root {
  --red: #d01110;
  --light-red: #e82f2f;
  --celadon: #a8bbb0;
  --light-celadon: #c6d2cb;
  --lighter-celadon: #d4ddd8;
  --light-grey: #919191;
  --background: #ebe8e0;
  --blacktext: #0a0a00;
  --whitetext: #ffffff;
  --purple-blue: #7360ff;
  --contentbackground: #d7d6d6;
  /* #f3f3f3 grey color */

}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
}

/* Navigation Bar */

.navbar {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--whitetext);
  color: var(--blacktext);
  z-index: 10;
  /* z-index to appear all over other div element */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.navbar-title img{
  width: 200px;
  height: 75px;
}

.navbar-links ul {
  margin: 0px;
  padding: 0px;
  display: flex;
}

.navbar-links ul li {
  cursor: pointer;
  list-style: none;
  /* border-bottom: 3px solid transparent; */
}

.navbar-links ul li:hover {
  background-color: var(--background);
  /* border-bottom: 3px solid var(--red);
  transition-property: border-bottom;
  transition-duration: 750ms;
  transition-timing-function: ease-in-out; */
}

.navbar-links ul li a {
  position: relative;
  display: block;
  font-size: 2.5rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--blacktext);
  padding: 1em;
}

.navbar-links ul li a::after {
  content: "";
  position: absolute;
  background-color: var(--red);
  height: 3px;
  width: 0%;
  left: 0px;
  bottom: 0px;
  transition-property: width, background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.navbar-links ul li a:hover{
  width: 100%;
  color: var(--red);
  background-color: var(--background);
  transition-duration: 300ms; 
}

.navbar-links ul li a:hover::after {
  width: 100%;
}

.navbar-links ul li a.currentPage {
  color: var(--red);
}

.navbar-links ul li a.currentPage::after {
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

/* Menu Bar Button */

.menu_btn {
  position: absolute;
  top: 1.9em;
  right: 1em;
  display: none;
  /* "flex" property to show the "menu button" */
  flex-direction: column;
  justify-content: center;
  width: 4.2em;
  height: 3.8em;
  /* border: 2px solid var(--seaform); */
  cursor: pointer;
  /* transition: all 500ms ease-in-out; */
  transition-property: transform, background;
  transition-duration: 650ms;
  transition-timing-function: ease-in-out;
  /* background-color: var(--whitetext);
    border-radius: 2px; */
}

.menu_btn_line {
  width: 100%;
  height: 0.6em;
  background-color: var(--blacktext);
  border-radius: 5px;
  transition-property: transform, background;
  transition-duration: 650ms;
  transition-timing-function: ease-in-out;
}

.menu_btn_line::before,
.menu_btn_line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.6em;
  background-color: var(--blacktext);
  border-radius: 5px;
  transition-property: transform;
  transition-duration: 650ms;
  transition-timing-function: ease-in-out;
}

.menu_btn_line::before {
  transform: translateY(-12.5px);
}

.menu_btn_line::after {
  transform: translateY(12.5px);
}

.menu_btn.open .menu_btn_line {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu_btn.open .menu_btn_line::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu_btn.open .menu_btn_line::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* Center */

.center {
  margin: auto;
  width: 70%;
  /* border: 1px solid var(--light-red); */
}

/* Tab Session */
/* tab-container, tab-box, tab, tab-line, content-box, content */
.tab-container {
  /* width: 600px; */
  background-color: var(--whitetext);
  padding: 30px;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  border: 1px solid black;
}

.tab-box {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Continous on this Feature and Components */
  border-bottom: 2px solid rgba(229, 229, 229);
  /* border-bottom: 2px solid red; */
  /* border: 2px solid var(--red); */
}

.tab-box .tab {
  position: relative;
  font-size: 1.35rem;
  font-weight: 600;
  color: var(--light-grey);
  background: none;
  /* border: 1px solid black; */
  border: none;
  padding: 1em 0.5em;
  cursor: pointer;
}

.tab-box .tab.active {
  color: var(--red);
}

/* To Adjust The Text Hover */
/* .tab-box .tab:hover{
  color: var(--red);
} */

.tab::after {
  content: "";
  position: absolute;
  background-color: var(--red);
  height: 3px;
  width: 0%;
  left: 0px;
  bottom: 0px;
  transition-duration: 500ms;
}

/* To Adjust The Underline Hover */
.tab.active::after {
  width: 100%;
}

.tab:hover::after {
  width: 100%;
}

.content-box {
  padding: 20px;
}

.content-box .content {
  display: none;
  animation: moving 500ms ease-in-out;
}

@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.content-box .content.active {
  display: block;
}

.content-box .content h2 {
  margin-bottom: 1em;
}
/* The End of Tab Session */

/* ------------------------------------------------------------------- */
/* The Contact Form */

/* 
container -> contact-container
form -> contact-form 
contact-info -> contact-form-info 
contact-form -> contact-form-letter
title -> Contact-form-title
input-container -> contact-form-input
textarea -> contact-form-text-area
*/

input,
textarea{
  font-family: "Roboto", sans-serif;
}

.contact-container{
  position: relative;
  width: 100%;
  /* min-height: 100vh; */
  /* padding: 2rem; */
  background-color: var(--lighter-celadon);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form{
  width: 100%;
  /* max-width: 820px; */
  /* height: 600px; */
  background-color: var(--whitetext);
  border-radius: 10px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* The Contact Form Data and Information (the right side) */
.contact-form-info{
  background-color: var(--whitetext);
}

.contact-form-info-container{
  padding: 3em;
  background-color: var(--whitetext);
}

/* Title For the contact form letter (the left side) */
.contact-form-info-container .contact-form-title{
  color: var(--blacktext);
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.contact-form-info .contact-form-info-container .contact-form-paragraph{
  font-size: 2em;
  margin-bottom: 1em;
}

.contact-form-info .contact-form-info-container .contact-form-info-detail .contact-form-infomation{
  display: flex;
  align-items: center;
  padding: 1em 0em;
  /* margin: 1em 0em; */
  /* border: 1px solid black; */
}

.contact-form-info .contact-form-info-container .contact-form-info-detail .contact-form-infomation i{
  font-size: 2.5rem;
}

.contact-form-info .contact-form-info-container .contact-form-info-detail .contact-form-infomation p{
  font-size: 1.8em;
  margin-left: 0.5em;
}

.contact-form-info .contact-form-info-container .contact-form-social-media{
  margin-top: 1em;
}

.contact-form-info .contact-form-info-container .contact-form-social-media .contact-form-social-title{
  color: var(--blacktext);
  font-weight: 500;
  font-size: 2.2rem;
}

.contact-form-info .contact-form-info-container .contact-form-social-media .contact-form-social-icon{
  display: flex;
  margin-top: 1em;
}

.contact-form-info .contact-form-info-container .contact-form-social-media .contact-form-social-icon a{
  margin-right: 1.5em;
  /* border: 1px solid var(--blacktext); */
}

.contact-form-info .contact-form-info-container .contact-form-social-media .contact-form-social-icon a i{
  font-size: 2.5rem;
  width: 40px;
  height: 40px;
  color: var(--whitetext);
  background: var(--blacktext);
  line-height: 40px;
  text-align: center;
  border: 1px solid var(--whitetext);
  border-radius: 5px;
  transition-property: transform, color, background;
  transition-duration: 300ms;
}

.contact-form-info .contact-form-info-container .contact-form-social-media .contact-form-social-icon a i:hover{
  transform: scale(1.15);
  /* color: var(--whitetext);
  background-color: var(--blacktext);
  border: 1px solid var(--whitetext); */
}

/* The end of the Contact Form Data and Information (the right side) */

/* The Contact Form Letter, Email, and Info (the left side) */

.contact-form-letter {
  background-color: var(--blacktext);
  position: relative;
}

.contact-form-letter:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color: var(--blacktext);
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

.contact-form-letter form {
  padding: 3em;
  z-index: 10;
  overflow: hidden;
  position: relative;
}

.contact-form-letter .contact-form-title {
  color: var(--whitetext);
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.contact-form-letter form .input-container {
  position: relative;
  margin: 2.5em 0;
}

.contact-form-letter form .input-container .input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6em 1.2em;
  color: var(--whitetext);
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition-duration: 300ms;
}

.contact-form-letter form .input-container textarea.input {
  padding: 0.8em 1.2em;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  overflow-y: auto;
}

.contact-form-letter form .input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  padding: 0 0.4rem;
  color: var(--whitetext);
  font-size: 1.5rem;
  font-weight: 400;
  pointer-events: none;
  z-index: 1000;
  transition: 0.5s;
}

.contact-form-letter form .input-container.textarea label {
  top: 1em;
  transform: translateY(0);
}

.contact-form-letter form .input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  transform: translateY(-50%);
  font-size: 1.5rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 500;
}

.contact-form-letter form .input-container span:before,
.contact-form-letter form .input-container span:after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  transition-duration: 300ms;
  height: 5px;
  background-color: var(--blacktext);
  top: 50%;
  transform: translateY(-50%);
}

.contact-form-letter form .input-container span:before {
  left: 50%;
}

.contact-form-letter form .input-container span:after {
  right: 50%;
}

.contact-form-letter form .input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 1.5rem;
}

.contact-form-letter form .input-container.focus span:before,
.contact-form-letter form .input-container.focus span:after {
  width: 50%;
  opacity: 1;
}

.contact-form-letter form .contact-form-btn {
  color: var(--blacktext);
  background-color: #fff;
  border: 2px solid #fafafa;
  border-radius: 25px;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.7em 2.3em;
  outline: none;
  cursor: pointer;
  transition-duration: 300ms;
}

.contact-form-letter form .contact-form-btn:hover {  
  color: #fff;
  background-color: transparent;
}
/* The End of Contact Form Letter, Email, and Info (the left side) */

/* The End of Contat Form */

/* The Footer */
footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background-color: var(--whitetext);
}

.footer-container{
  display: flex;
}

.footer-container .footer-box{
  flex-basis: 50%;
  padding: 0.5em 2em;
}

.footer-container .footer-box h2{
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  /* border: 1px solid black; */
}

.footer-container .footer-box .footer-content{
  position: relative;
  margin: 1em 0em 0em 0em;
}

.footer-container .footer-box .footer-content::before{
  position: absolute;
  content: '';
  top: -10px;
  width: 100%;
  height: 2px;
  background-color: var(--light-celadon);
}

.footer-container .footer-box .footer-content p{
  font-size: 2rem;
  font-weight: 400;
  margin: 0em 0em 0em 0em;
  text-align: justify;
}

/* footer left */
.footer-container .footer-left .footer-content .footer-social{
  display: flex;
  flex-direction: column;
}

.footer-container .footer-left .footer-content .footer-social  .footer-social-link{
  display: flex;  
  align-items: center;
  margin: 1em;
}

.footer-container .footer-left .footer-content .footer-social .footer-social-link a{
  color: var(--blacktext);
  text-decoration: none;
}

.footer-container .footer-left .footer-content .footer-social .footer-social-link a i{
  font-size: 3.3rem;
  width: 45px;
  height: 45px;
  color: var(--blacktext);
  background: var(--whitetext);
  line-height: 45px;
  text-align: center;
  border: 1px solid var(--blacktext);
  border-radius: 5px;
  transition-property: color, background;
  transition-duration: 300ms;
}

.footer-container .footer-left .footer-content .footer-social .footer-social-link a i:hover{
  color: var(--whitetext);
  background-color: var(--blacktext);
}

.footer-container .footer-left .footer-content .footer-social .footer-social-link a span{
  font-size: 1.8rem;
  padding-left: 0.5em;
}
/* The End of footer left */

/* footer center */
.footer-container .footer-center .footer-content td{
  padding: 0.5em 0.5em;
}

.footer-container .footer-center .footer-content .footer-place i,
.footer-container .footer-center .footer-content .footer-phone i,
.footer-container .footer-center .footer-content .footer-email i{
  font-size: 2.5rem;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: var(--blacktext);
  background: var(--whitetext);
  border: 1.5px solid var(--blacktext);
  border-radius: 50%;
  cursor: pointer;
  transition-property: color, background;
  transition-duration: 300ms;
}

.footer-container .footer-center .footer-content .footer-place i:hover,
.footer-container .footer-center .footer-content .footer-phone i:hover,
.footer-container .footer-center .footer-content .footer-email i:hover{
  color: var(--whitetext);
  background-color: var(--blacktext);
  border: 1.5px solid var(--whitetext);
}

.footer-container .footer-center .footer-content .footer-text{
  font-size: 1.8rem;
  font-weight: 400;
}

.footer-container .footer-center .footer-content .footer-text-mm{
  font-size: 1.6rem;
  font-weight: 400;
}
/* The End of footer center */

/* footer-right */
.footer-container .footer-right .footer-content{
  display: flex;
  flex-direction: row;
}

.footer-container .footer-right .footer-content .footer-link{
  display: block;
  margin: 1.5em 1em 2.5em 1em;
}

.footer-container .footer-right .footer-content .footer-link a{
  padding: 1.8em 1.5em 1.25em 1em;
  text-decoration: none;
  border: 2px solid var(--blacktext);
  border-radius: 50px;
}

.footer-container .footer-right .footer-content .footer-link i{
  font-size: 2.2rem;
  padding: 0em 0.25em 0em 0.75em;
  color: var(--blacktext);
}

.footer-container .footer-right .footer-content .footer-link span{
  font-size: 1.85rem;
  font-weight: 400;
  color: var(--blacktext);
  padding-right: 0.75em;
}
/* The End of footer right */

/* footer content - 1 */

.footer-container .footer-right .footer-content-1{
  display: flex;
  flex-direction: row;
}

.footer-container .footer-right .footer-content-1 .footer-link{
  display: block;
  margin: 1.5em 1em;
}

.footer-container .footer-right .footer-content-1 .footer-link a{
  padding: 1.8em 1.5em 1.25em 1em;
  text-decoration: none;
  border: 2px solid var(--blacktext);
  border-radius: 50px;
}

.footer-container .footer-right .footer-content-1 .footer-link i{
  font-size: 2.2rem;
  padding: 0em 0.25em 0em 0.75em;
  color: var(--blacktext);
}

.footer-container .footer-right .footer-content-1 .footer-link span{
  font-size: 1.85rem;
  font-weight: 400;
  color: var(--blacktext);
  padding-right: 0.75em;
}
/* The End of Footer Content - 1 */

footer .copy-right center{
  font-size: 1.25rem;
  padding: 1em 0em;
}

footer .copy-right center span{
  color: var(--blacktext);
}
/* The End of Footer */

/* The Media Query for footer */

@media (max-width: 900px){
  footer{
    position: relative;
  }

  .footer-container{
    flex-wrap: wrap;
    flex-direction: column;
  }
}

/* The End of The Media Query for footer */

/* Tablet Responsive (need to fix)*/

@media (max-width: 1024px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-links.active {
    overflow-y: auto;
    /* transform: translateX(0%); */
    display: flex;
  }

  .navbar-links {
    position: fixed;
    top: 7.4em;
    left: 0%;
    display: none;
    width: 100%;
    /* height: 100%; */
    /* background-image: linear-gradient(to top, var(--lighter-celadon), var(--light-celadon), var(--celadon));  */
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: var(--whitetext);
    z-index: 3;
    /* need to appear NavBar Link allover with position :fixed*/
    opacity: 1;
    overflow-y: hidden;
    transition-duration: 500ms;
    transition-timing-function: linear;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links ul li {
    border-bottom: none;
    text-align: center;
  }

  .navbar-links ul li:hover {
    border-bottom: none;
  }

  .navbar-links ul li a {
    padding: 1em;
  }

  .menu_btn {
    display: flex;
  }
  .center {
    margin: auto;
    width: 75%;
  }
  .contact-form{
    grid-template-columns: 1fr;
  }

  .contact-form-letter:before {
    top: -13px;
    left: initial;
    right: 70px;
  }
}

/* Mobile Responsive */
@media (max-width: 440px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-links.active {
    overflow-y: auto;
    /* transform: translateX(0%); */
    display: flex;
  }

  .navbar-links {
    position: fixed;
    top: 7.4em;
    left: 0%;
    display: none;
    width: 100%;
    /* height: 0%; */
    /* background-color: rgba(0, 0, 0, 0.8); */
    /* background-image: linear-gradient(to top, var(--lighter-celadon), var(--light-celadon), var(--celadon));  */
    background-color: var(--whitetext);
    z-index: 3;
    /* need to appear NavBar Link allover with position :fixed*/
    opacity: 1;
    overflow-y: hidden;
    transition-duration: 500ms;
    transition-timing-function: linear;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links ul li {
    border-bottom: none;
    text-align: center;
  }

  .navbar-links ul li:hover {
    border-bottom: none;
  }

  .navbar-links ul li a {
    padding: 1em;
  }

  .menu_btn {
    display: flex;
  }
  .center {
    margin: auto;
    width: 85%;
  }
}
