:root {
  --red: #d01110;
  --light-red: #e82f2f;
  --celadon: #a8bbb0;
  --light-celadon: #c6d2cb;
  --lighter-celadon: #d4ddd8;
  --light-grey: #919191;
  --background: #ebe8e0;
  --blacktext: #0a0a00;
  --whitetext: #ffffff;
  --contentbackground: #d7d6d6;
  /* #f3f3f3 grey color */

}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body {
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
}

/* Navigation Bar */

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--whitetext);
  color: var(--blacktext);
  z-index: 10;
  /* z-index to appear all over other div element */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.navbar-title img{
  width: 200px;
  height: 75px;
}

.navbar-links ul {
  margin: 0px;
  padding: 0px;
  display: flex;
}

.navbar-links ul li {
  position: relative;
  cursor: pointer;
  list-style: none;
}

.navbar-links ul li:hover {
  background-color: var(--background);
}

.navbar-links ul li a {
  /* position: relative; */
  display: block;
  font-size: 2.5rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--blacktext);
  padding: 1em;
}

.navbar-links ul li a::after {
  content: "";
  position: absolute;
  background-color: var(--red);
  height: 3px;
  width: 0%;
  left: 0px;
  bottom: 0px;
  transition-property: width, background-color;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.navbar-links ul li a:hover{
  width: 100%;
  color: var(--red);
  background-color: var(--background);
  transition-duration: 300ms; 
}

.navbar-links ul li a:hover::after {
  width: 100%;
}

.navbar-links ul li a.currentPage {
  color: var(--red);
}

.navbar-links ul li a.currentPage::after {
  width: 100%;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

/* Menu Bar Button */

.menu_btn {
  position: absolute;
  top: 1.9em;
  right: 1em;
  display: none;
  /* "flex" property to show the "menu button" */
  flex-direction: column;
  justify-content: center;
  width: 4.2em;
  height: 3.8em;
  /* border: 2px solid var(--seaform); */
  cursor: pointer;
  /* transition: all 500ms ease-in-out; */
  transition-property: transform, background;
  transition-duration: 650ms;
  transition-timing-function: ease-in-out;
  /* background-color: var(--whitetext);
    border-radius: 2px; */
}

.menu_btn_line {
  width: 100%;
  height: 0.6em;
  background-color: var(--blacktext);
  border-radius: 5px;
  transition-property: transform, background;
  transition-duration: 650ms;
  transition-timing-function: ease-in-out;
}

.menu_btn_line::before,
.menu_btn_line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.6em;
  background-color: var(--blacktext);
  border-radius: 5px;
  transition-property: transform;
  transition-duration: 650ms;
  transition-timing-function: ease-in-out;
}

.menu_btn_line::before {
  transform: translateY(-12.5px);
}

.menu_btn_line::after {
  transform: translateY(12.5px);
}

.menu_btn.open .menu_btn_line {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu_btn.open .menu_btn_line::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu_btn.open .menu_btn_line::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* Center */

.center {
  margin: auto;
  width: 70%;
  /* border: 3px solid green; */
}

/* Tab Session */
/* tab-container, tab-box, tab, tab-line, content-box, content */
.tab-container{
  /* width: 600px; */
  background-color: var(--whitetext);
  padding: 1em 1.5em;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  /* border: 1px solid black; */
}

.tab-container-header{
  text-align: center;
}

.tab-container-header h1{
  font-size: 4em;
  color: var(--light-grey);
}

.tab-container-header h1 span{
  color: var(--blacktext);
}


/* .tab-box{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgba(229, 229, 229);

}

.tab-box .tab{
  position: relative;
  font-size: 1.35rem;
  font-weight: 600;
  color: var(--light-grey);
  background: none;
  border: none;
  padding: 1em 0.5em;
  cursor: pointer;
}

.tab-box .tab.active{
  color: var(--red);
} */

/* To Adjust The Text Hover */
/* .tab-box .tab:hover{
  color: var(--red);
} */

.tab::after{
  content: "";
  position: absolute;
  background-color: var(--red);
  height: 3px;
  width: 0%;
  left: 0px;
  bottom: 0px;
  transition-duration: 500ms;
}

/* To Adjust The Underline Hover */
.tab.active::after{
  width: 100%;
}

.tab:hover::after{
  width: 100%;
}

.content-box{
  /* border: 2px solid black; */
  padding: 1.25em 2em;
}

.content-box .content{
  display: none;
  animation: moving 500ms ease-in-out;
}

@keyframes moving {
  from{transform: translateX(50px);opacity: 0;}
  to{transform: translateX(0px);opacity: 1;}
}

.content-box .content.active{
  display: block;
}


/* The End of Tab Session */

/* Product Card Session */

.product-card-container{
  margin: 0em 0em;
  width: 100%;
}

.product-card-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card-wrapper .product-card{
  width: 50%;
  padding: 2em 8.5em;
  /* border: 1px solid black; */
}

.product-card-wrapper .product-card-inner{
  border-radius: 25px;
  background-color: var(--whitetext);
  box-shadow: 0 3px 5px 2px #0004;
  transition-property: transform, box-shadow;
  transition-duration: 500ms;
}

.product-card-wrapper .product-card-inner:hover{
  transform: scale(1.02);
  box-shadow: 0 3px 8px 4px #0005;
}

.product-card-wrapper .product-card-image{
  width: 100%;
  height: auto;
  padding: 1em 1em 0em 1em;
}

.product-card-image img{
  width: 100%;
  height: 100%;
  display: block;
}

.product-card-wrapper .product-card-content{
  padding: 0em;
  /* border: 1px solid red; */
}

.product-card-wrapper .product-card-content .product-card-content-category{
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  /* border: 1px solid black; */
}

.product-card-wrapper .product-card-content .product-card-content-info{
  text-transform: none;
  text-align: center;
  padding: 0.5em 0em 0em 0em;
  /* margin: 1em 0em; */
  /* border: 1px solid blue; */
}

.product-card-wrapper .product-card-content .product-card-content-info h2{
  font-size: 2rem;
  color: var(--red);
  /* border: 1px solid black; */
}

.product-card-wrapper .product-card-content .product-card-content-info table{
  /* width: 100%; */
  display: inline-block;
  font-size: 1rem;
  padding-left: 1em;
  /* border: 1px solid black; */
}

.product-card-wrapper .product-card-content .product-card-content-info .product-card-content-info-text1,
.product-card-wrapper .product-card-content .product-card-content-info .product-card-content-info-text2{
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  padding: 0.3em 0em;
}

.product-card-wrapper .product-card-content .product-card-content-info .product-card-content-info-text3{
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
  padding: 0.3em 0em;
}

.product-card-wrapper .product-card-content .product-card-content-info .product-card-content-info-text1,
.product-card-wrapper .product-card-content .product-card-content-info .product-card-content-info-text2,
.product-card-wrapper .product-card-content .product-card-content-info .product-card-content-info-text3{
  vertical-align: top;
  /* text-align: center; */
  /* border: 1px solid black; */
}

.product-card-wrapper .product-card-content .product-card-content-btn{
  display: flex;
  justify-content: center;
}

.product-card-wrapper .product-card-content .product-card-content-btn .product-card-content-button{
  /* align-content: center; */
  display: inline-block;
  font-size: 1.5rem;
  color: var(--whitetext);
  background-color: var(--blacktext);
  border: 2px solid rgba(57, 55, 55, 0.3);
  border-radius: 35px;
  margin: 0.75em 0em;
  padding: 1em 2em;
  text-decoration: none;
}

.product-card-wrapper .product-card-content .product-card-content-btn .product-card-content-button:hover{
  background-color: transparent;
  color: var(--blacktext);
}

/*
 Media Queries 
The Standard Desktop -> 1440px
The Ipad Air/ Mini (Horizontal) -> 1120px / 1024px
The Ipad Air/ Mini (Vertical) -> 820px / 768px

 */

/* Media Query for Responsive the Product  */
@media(max-width: 1440px){
  .product-card-wrapper .product-card{
    width: 50%;
    padding: 2em 3em;
  }
  .product-card-wrapper .product-card-content .product-card-content-info table{
    padding-left: 3em;
  }
}

@media(max-width: 1024px){
  .product-card-wrapper .product-card{
    width: 50%;
    padding: 1.5em 2em;
  }

  .product-card-wrapper .product-card-content .product-card-content-info table{
    padding-left: 2em;
  }
  
}

@media(max-width: 768px){
  .product-card-wrapper .product-card{
    width: 100%;
    padding: 1em 0em;
  }
  .product-card-wrapper .product-card-content .product-card-content-info table{
    padding-left: 4em;
  }
}

@media(max-width: 528px){
  .product-card-wrapper .product-card{
    width: 100%;
    padding: 1em 0em;
  }
}

/* The End of Product Card Session */

/* The Footer */
footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background-color: var(--whitetext);
}

.footer-container{
  display: flex;
}

.footer-container .footer-box{
  flex-basis: 50%;
  padding: 0.5em 2em;
}

.footer-container .footer-box h2{
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-container .footer-box .footer-content{
  position: relative;
  margin: 1em 0em 0em 0em;
}

.footer-container .footer-box .footer-content::before{
  position: absolute;
  content: '';
  top: -10px;
  width: 100%;
  height: 2px;
  background-color: var(--light-celadon);
}

.footer-container .footer-box .footer-content p{
  font-size: 2rem;
  font-weight: 400;
  margin: 0em 0em 0em 0em;
  text-align: justify;
}

/* footer left */
.footer-container .footer-left .footer-content .footer-social{
  display: flex;
  flex-direction: column;
}

.footer-container .footer-left .footer-content .footer-social  .footer-social-link{
  display: flex;  
  align-items: center;
  margin: 1em;
}

.footer-container .footer-left .footer-content .footer-social .footer-social-link a{
  color: var(--blacktext);
  text-decoration: none;
}

.footer-container .footer-left .footer-content .footer-social .footer-social-link a i{
  font-size: 3.3rem;
  width: 45px;
  height: 45px;
  color: var(--blacktext);
  background: var(--whitetext);
  line-height: 45px;
  text-align: center;
  border: 1px solid var(--blacktext);
  border-radius: 5px;
  transition-property: color, background;
  transition-duration: 300ms;
}

.footer-container .footer-left .footer-content .footer-social .footer-social-link a i:hover{
  color: var(--whitetext);
  background-color: var(--blacktext);
}

.footer-container .footer-left .footer-content .footer-social .footer-social-link a span{
  font-size: 1.8rem;
  padding-left: 0.5em;
}
/* The End of footer left */

/* footer center */
.footer-container .footer-center .footer-content td{
  padding: 0.5em 0.5em;
}

.footer-container .footer-center .footer-content .footer-place i,
.footer-container .footer-center .footer-content .footer-phone i,
.footer-container .footer-center .footer-content .footer-email i{
  font-size: 2.5rem;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: var(--blacktext);
  background-color: var(--whitetext);
  border: 2px solid var(--blacktext);
  border-radius: 50%;
  cursor: pointer;
  transition-property: color, background;
  transition-duration: 300ms;
}

.footer-container .footer-center .footer-content .footer-place i:hover,
.footer-container .footer-center .footer-content .footer-phone i:hover,
.footer-container .footer-center .footer-content .footer-email i:hover{
  color: var(--whitetext);
  background-color: var(--blacktext);
  border: 1px solid var(--whitetext);
}

.footer-container .footer-center .footer-content .footer-text{
  font-size: 1.8rem;
  font-weight: 400;
}

.footer-container .footer-center .footer-content .footer-text-mm{
  font-size: 1.6rem;
  font-weight: 400;
}
/* The End of footer center */

/* footer right */
.footer-container .footer-right .footer-content{
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
}

.footer-container .footer-right .footer-content .footer-link{
  display: block;
  margin: 1.5em 1em 2.5em 1em;
}

.footer-container .footer-right .footer-content .footer-link a{
  padding: 1.8em 1.5em 1.25em 1em;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 50px;
}

.footer-container .footer-right .footer-content .footer-link i{
  font-size: 2.2rem;
  padding: 0em 0.25em 0em 0em;
  color: var(--blacktext);
}

.footer-container .footer-right .footer-content .footer-link span{
  font-size: 1.85rem;
  font-weight: 400;
  color: var(--blacktext);
}
/* The End of footer right */

/* footer content - 1 */

.footer-container .footer-right .footer-content-1{
  display: flex;
  flex-direction: row;
}

.footer-container .footer-right .footer-content-1 .footer-link{
  display: block;
  margin: 1.5em 1em;
}

.footer-container .footer-right .footer-content-1 .footer-link a{
  padding: 1.8em 1.5em 1.25em 1em;
  text-decoration: none;
  border: 2px solid var(--blacktext);
  border-radius: 50px;
}

.footer-container .footer-right .footer-content-1 .footer-link i{
  font-size: 2.2rem;
  padding: 0em 0.25em 0em 0.75em;
  color: var(--blacktext);
}

.footer-container .footer-right .footer-content-1 .footer-link span{
  font-size: 1.85rem;
  font-weight: 400;
  color: var(--blacktext);
  padding-right: 0.75em;
}
/* The End of Footer Content - 1 */

footer .copy-right center{
  font-size: 1.25rem;
  padding: 1em 0em;
}

footer .copy-right center span{
  color: var(--blacktext);
}

/* The End of footer */

/* Media Query for footer */

@media (max-width: 900px){
  footer{
    position: relative;
  }

  .footer-container{
    flex-wrap: wrap;
    flex-direction: column;
  }
}
/* The End of The Media Query for footer */

/* Tablet Responsive (need to fix)*/

@media (max-width: 1024px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-links.active {
    overflow-y: auto;
    /* transform: translateX(0%); */
    display: flex;
  }

  .navbar-links {
    position: fixed;
    top: 7.4em;
    left: 0%;
    display: none;
    width: 100%;
    /* height: 0%; */
    /* background-image: linear-gradient(
      to top,
      var(--lighter-celadon),
      var(--light-celadon),
      var(--celadon)
    ); */
    background-color: var(--whitetext);
    z-index: 3;
    /* need to appear NavBar Link allover with position :fixed*/
    opacity: 1;
    overflow-y: hidden;
    transition-duration: 500ms;
    transition-timing-function: linear;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links ul li {
    border-bottom: none;
    text-align: center;
  }

  .navbar-links ul li:hover {
    border-bottom: none;
  }

  .navbar-links ul li a {
    padding: 1em;
  }

  .menu_btn {
    display: flex;
  }
  .center {
    margin: auto;
    width: 80%;
  }
}

/* Mobile Responsive */
@media (max-width: 440px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-links.active {
    overflow-y: auto;
    /* transform: translateX(0%); */
    display: flex;
  }

  .navbar-links {
    position: fixed;
    top: 7.4em;
    left: 0%;
    display: none;
    width: 100%;
    /* height: 0%; */
    /* background-image: linear-gradient(
      to top,
      var(--lighter-celadon),
      var(--light-celadon),
      var(--celadon)
    ); */
    background-color: var(--whitetext);
    z-index: 3;
    /* need to appear NavBar Link allover with position :fixed*/
    opacity: 1;
    overflow-x: hidden;
    transition-duration: 500ms;
    transition-timing-function: linear;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links ul li {
    border-bottom: none;
    text-align: center;
  }

  .navbar-links ul li:hover {
    border-bottom: none;
  }

  .navbar-links ul li a {
    padding: 1em;
  }

  .menu_btn {
    display: flex;
  }
  .center {
    margin: auto;
    width: 90%;
  }

  /* Best Seller */
}
